:root {
    --bg: #EEEEEE;
    --a: #53B3CB;
    --ahover: #E01A4F;
    --color: #000000;

    --yellow: #F9C22E;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg);
    font-family: 'Lato', sans-serif;
    color: var(--color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

main {
    padding: 16px;
    max-width: 600px;
}

h1, h2 {
    font-family: monospace;
    text-align: center;
}

h2 {
    margin-top: 2em;
}

a {
    color: var(--a);
}

a:hover {
    color: var(--ahover);
}

code {
    font-family: "DejaVu Sans Mono", monospace;
}