<div id="logo">
    <a href="/"><img src="img/logo-white.svg" alt="Logo" width="100"/></a>
</div>

<div id="caption">
    <a href="/">
        <h1>
            Vincent Rolfs
        </h1>
    </a>
    <img src="img/vincent-circle.png" alt="A picture of Vincent Rolfs"/>
</div>

<div id="blackness"></div>

<nav>
    <a class="<script data-phantom>phantom.args.selection === 'index' ? 'selected' : ''</script>" href="/">About me</a>
    <a class="<script data-phantom>phantom.args.selection === 'portfolio' ? 'selected' : ''</script>" href="/my-work">My work</a>
    <a class="<script data-phantom>phantom.args.selection === 'contact' ? 'selected' : ''</script>" href="/contact">Contact</a>
</nav>