<div id="logo">
    <a href="/">
        <img src="img/vincent-circle.png" alt="A picture of Vincent Rolfs" width="100"/>
    </a>
</div>

<div id="caption">
    <a href="/">
        <h1>
            Vincent Rolfs
        </h1>

        <div>Software Engineer</div>
    </a>

    <hr/>
</div>

<div id="blackness"></div>

<nav>
    <a class="<script data-phantom>phantom.args.selection === 'index' ? 'selected' : ''</script>" href="/">About me</a>
    <a class="<script data-phantom>phantom.args.selection === 'portfolio' ? 'selected' : ''</script>" href="/my-work">My work</a>
    <a class="<script data-phantom>phantom.args.selection === 'chinese' ? 'selected' : ''</script>" href="/chinese">中文</a>
    <a class="<script data-phantom>phantom.args.selection === 'contact' ? 'selected' : ''</script>" href="/contact">Contact</a>
</nav>