<div class="divider">
  <hr />
</div>

<p>
  Discuss this article on
  <a href="{{ $props.reddit }}" target="_blank" rel="noopener">Reddit</a>
  or
  <a href="{{ $props.hackerNews }}" target="_blank" rel="noopener"
    >Hacker News</a
  >.
</p>

<p>
  Feel free to email me at
  <a href="mailto:vincent.rolfs@gmail.com">vincent.rolfs@gmail.com</a>. Or you
  can follow me on Mastodon at
  <a href="https://hachyderm.io/@vincentrolfs" target="_blank" rel="noopener"
    >@vincentrolfs@hachyderm.io</a
  >.
</p>
