<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{$props.title}}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{{ $props.description }} Vincent is a freelance Software Engineer and IT-Consultant. He has more than ten years experience in developing complex applications on the web."
    />
    <script data-phantom>
      $props.blockIndexing ? `<meta name="robots" content="noindex">` : "";
    </script>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link href="/styles/main.css" rel="stylesheet" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/img/icons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/img/icons/safari-pinned-tab.svg"
      color="#80232E"
    />
    <link rel="shortcut icon" href="/img/icons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#b91d47" />
    <meta name="msapplication-config" content="/img/icons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    {{ $props.mastodonBacklink ? `
    <link rel="me" href="https://hachyderm.io/@vincentrolfs" />
    ` : "" }}

    <script
      data-goatcounter="https://vincentrolfs.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>

    {{$props.head}}
  </head>
  <body>
    <div id="wrapper">
      <script data-phantom>
        $include("nav.html", { selection: $props.navSelection });
      </script>

      <main>{{ $props.content }}</main>
    </div>
  </body>
</html>
