<div id="caption">
  <div id="caption-wrap">
    <div id="logo">
      <a href="/">
        <img
          src="/img/vincent-circle.png"
          alt="A picture of Vincent Rolfs"
          width="100"
        />
      </a>
    </div>

    <a href="/">
      <h1>Vincent Rolfs</h1>

      <div>Software Engineer</div>
    </a>

    <nav>
      <a
        class="<script data-phantom>$props.selection === 'index' ? 'selected' : ''</script>"
        href="/"
      >
        About me
      </a>
      <a
        class="<script data-phantom>$props.selection === 'portfolio' ? 'selected' : ''</script>"
        href="/my-work"
      >
        Portfolio</a
      >
      <a
        class="<script data-phantom>$props.selection === 'blog' ? 'selected' : ''</script>"
        href="/blog"
      >
        Blog
      </a>
      <a
        class="<script data-phantom>$props.selection === 'contact' ? 'selected' : ''</script>"
        href="/contact"
      >
        Contact
      </a>
    </nav>
  </div>

  <hr />
</div>
