<header>
    <a href="/">
        <div class="logo">
            <img src="img/logo.svg" alt="Logo" width="100"/>
        </div>

        <h1>
            Vincent Rolfs
        </h1>
    </a>
</header>

<nav>
    <a class="{{ phantom.args.selection === 'index' ? 'selected' : '' }}" href="/">About me</a>
    <a class="{{ phantom.args.selection === 'portfolio' ? 'selected' : '' }}" href="/my-work.html">My work</a>
    <a class="{{ phantom.args.selection === 'contact' ? 'selected' : '' }}" href="/contact.html">Contact</a>
</nav>