<h3 class="with-sub">{{$props.city.name}}</h3>
<div class="subcaption">
  <script data-phantom>
    async () => {
      const { formatDate } = await import(
        $resolve("phantom/core/utils/dateUtils.mjs")
      );

      return $props.city.visits
        .map(({ from, to }) =>
          from === to
            ? formatDate(from)
            : `${formatDate(from)} to ${formatDate(to)}`
        )
        .join(`<br/>`);
    };
  </script>
</div>

<div id="travel-images">
  <script data-phantom>
    const { name, images } = $props.city;

    images.map((image) =>
      $include("singleImage.html", {
        cityName: name,
        image,
      })
    );
  </script>
</div>
