@bg: #EEEEEE;
@text: #2E2C24;
@highlight: #4A7C59;
@link: #6A7FDB;
@linkhover: #A22C29;

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: @bg;
    font-family: 'Lato', sans-serif;
    color: @text;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

main {
    padding: 16px;
    max-width: 700px;
}

h1, h2 {
    font-family: monospace;
    text-align: center;
}

h2 {
    margin-top: 2em;
}

.highlight {
    color: @highlight;
    font-weight: bold;
}

a {
    color: @link;
}

a:hover {
    color: @linkhover;
}

code {
    font-family: "DejaVu Sans Mono", monospace;
}