@white: #FFFFFF;
@black: #2E2C24;
@red: #80232E;
@blue: #5E6897;
@darkblue: #3B3C42; // Darkened version of #5E6897, https://artincontext.org/color-mixer/
@grey: #EEEEEE;


@dark-grey: #888888;
@green: #729B79;
@yellow: #E6AF2E;

@nav-bg: @black;
@link: @blue;
@link-hover: @red;

@mobile-width: 960px;
@main-max-width: 700px;

@bold-weight: 900;

@main-font: 'Lato';
@chinese-font: 'Xiaolai SC';

// unused
// @dark-grey: #888888;
// @yellow: #E6AF2E;
// @green: #729b79;

// https://coolors.co/2e2c24-80232e-5e6897-e6af2e-729b79
// https://coolors.co/ffffff-2e2c24-80232e-5e6897-e6af2e
// https://coolors.co/ffffff-2e2c24-80232e-5e6897-729b79
// https://coolors.co/ffffff-2e2c24-80232e-869d7a-7a82ab
// https://coolors.co/ffffff-2e2c24-7ab592-a3320b-e6af2e

html, body {
    margin: 0;
    padding: 0;
}

html {
    // See https://aykevl.nl/2014/09/fix-jumping-scrollbar
    overflow-y: scroll;
}

body {
    background: @white;
    font-family: @main-font, sans-serif;
    color: @black;
    font-size: 13.2pt;

    padding: 0 32px 0 32px;

    display: flex;
    justify-content: center;

    @media (max-width: @mobile-width)  {
        padding: 0;
    }
}

#wrapper {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 80px;

    @media (max-width: @mobile-width)  {
        width: 100%;
        grid-template-columns: auto 1fr;
        grid-column-gap: 0;
    }
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;

    a {
        display: flex;
    }

    @media (max-width: @mobile-width)  {
        background: @nav-bg;
        padding: 16px;
    }
}

#caption {
    background: @white;
    padding: 32px 0 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    hr {
        height: 1px;
        margin: 1em 0 0 0;
        padding: 0;
        width: 100%;

        border: 0;
        border-bottom: solid 2px @black;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        text-decoration: none;

        h1 {
            margin: 0;
            color: @black;
        }

        div {
            font-weight: @bold-weight;
            color: @blue;
        }
    }

    @media (max-width: @mobile-width)  {
        background: @nav-bg;
        padding: 16px;
        justify-content: center;

        a {
            h1, div {
                color: @grey;
            }
        }

        hr {
            display: none;
        }
    }

    @media (max-width: 379px)  {
        a {
            align-items: flex-start;
        }
    }
}

#blackness {
    background: @nav-bg;
    height: 100vh;
    width: 50vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;

    @media (max-width: @mobile-width)  {
        display: none;
    }
}

nav {
    background: @nav-bg;
    display: flex;
    flex-direction: column;
    padding-top: 32px;

    a {
        margin-bottom: 8px;

        color: @white;
        text-decoration: none;
        font-size: 1.5em;

        &.selected {
            background: @blue;
        }

        &:hover {
            background: @red;
        }
    }

    @media (max-width: @mobile-width)  {
        grid-column: 1 / span 2;
        padding: 16px;
    }
}

main {
    width: @main-max-width;
    background: @white;
    min-height: 100vh;
    padding: 32px 0 0 32px;

    &.chinese {
        font-family: @main-font, @chinese-font, sans-serif;
        font-size: 1.2em;
    }

    p:first-child, h2:first-child {
        margin-block-start: 0;
        font-weight: @bold-weight;
    }

    .highlight {
        color: @red;
        font-weight: bold;
    }

    a {
        color: @link;

        &:hover {
            color: @link-hover;
        }
    }

    code {
        font-family: "DejaVu Sans Mono", monospace;
        font-size: 12pt;
    }

    @media (max-width: @mobile-width)  {
        padding: 32px 32px 32px 16px;
        grid-column: 1 / span 2;
        width: unset;
    }
}

.work-item {
    background: @grey;
    padding: 32px;
    box-shadow: 8px 8px 0 0 @dark-grey;

    margin: 24px 0 32px 0;

    h3 {
        margin-block-start: 0;
        margin-block-end: 1.25em;
    }

    h4 {
        margin-block-start: 1.5em;
        margin-block-end: 0;
    }
}

.work-item-divider {
    display: flex;
    justify-content: center;

    hr {
        width: 60%;
        border: 0;
        border-bottom: solid 2px @black;
        margin-top: 8px;
    }
}

h1, h2, h3, p {
    display: block;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: @bold-weight;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: @bold-weight;
}

h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: @bold-weight;
}

h4 {
    font-size: inherit;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    font-weight: @bold-weight;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

abbr {
    text-decoration: none;
    border-bottom: solid 1px @red;

    &:hover {
        background: @red;
        color: @white;
    }
}